<%- include ("header") -%>

<h1>This is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sunt ipsa explicabo incidunt! Aspernatur, labore? Molestias exercitationem consequuntur quidem error sint, assumenda quis alias quia inventore earum odit iusto, nobis doloribus saepe pariatur repellat harum eius maiores nulla fugit obcaecati nostrum aperiam! Commodi dolore architecto asperiores, optio corporis porro. Quae?</p>

<%- include ("footer") -%>
